/* Content */

.container-main{
  padding: 1.5rem 2rem;
  overflow: auto;
  flex: 1 1 auto;
}

.heading {
  letter-spacing: 0.2rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.8rem;
  border-bottom: solid 1px black;
  width: 90%;
}

.heading-two {
  border-bottom: double 6px black;
  height: 4rem;
  width: 90%;
}

.heading-three {
  border-bottom: solid 4px black;
  padding-bottom: 1rem;
  width: 90%;
}

.container-topic {
  margin: 1.5rem 0;
}

.code-block {
  width: 90%;
}

.quote {
  border-radius: 1rem;
  background-color: rgba(200,200,200,0.2);
  font-size: 1.12rem;
  min-height: 6rem;
  padding: 1rem;
  text-align: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.quote-link {
  color: rgb(10,10,255);
  font-size: 1rem;
  margin: 1.2rem;
  width: 20%;
  align-self: flex-end;
}

.container-topic {
  margin: 1.5rem 0;
}

.table {
  width: 90%;
}

.table-row {
  background-color: rgba(200,200,200,0.2);
}

.table-row td {
  padding: 0.8rem; 
  border: solid 2px black;
}

.table-row td h4 {
  color: rgb(209, 121, 14)
}

.see-more {
  color: rgb(10,10,255);
  width: 95%;
  text-align: right;
  font-size: 1.145rem;
  font-weight: 700;
}

.see-more a:hover{
  border-radius: 0.2rem;
  background-color: rgba(233, 231, 230, 0.2);
  padding: 0.3rem;
  box-shadow: 2px 8px rgba(37, 36, 36, 0.7);
}

/* Reuseable */

.content-between {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.mb-8 {
  margin-bottom: 2rem;
}

.my-4{
  margin: 1rem 0;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
}
