.container-nav {
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.1);
  border-right: solid 4px grey;
  min-width: 20%;
  padding: 0.5rem;
  /* min-height: 100vh; */
  overflow: auto;
  -ms-overflow-style: none;
}

.container-nav::-webkit-scrollbar {
  display: none;
}

.nav-item {
  border-bottom: double 4px grey;
  padding: 0.8rem;
}

.link-list {
  display: flex;
  padding-left: 0.4rem;
  padding-top: 0.4rem;
  justify-content: flex-start;
  align-items: center;
}

.link-list img {
  margin: 0.4rem;
  height: 10px;
  width: 15px;
  cursor: pointer;
}

.link-sub-list {
  margin-left: 1.5rem;
}

.ml-24 {
  margin-left: 3.8rem;
}

.ml-14 {
  margin-left: 2rem;
}

.pt-8 {
  padding-top: 0.4rem;
}

.gold-color {
  color: rgb(209, 121, 14);
}

.blue-color {
  color: rgb(1, 36, 152)
}

@media only screen and (max-width: 925px) {
  .container-nav {
    min-width: 180px;
  }
}